/*-- scss:defaults --*/

/* TODO: Customize presentation appearance by setting SCSS variables */
/* See https://quarto.org/docs/presentations/revealjs/themes.html#customizing-themes */

/*-- scss:rules --*/

/* TODO: Provide custom CSS rules */

.reveal .slide-logo {
  height: 100px !important;
  width: 150px !important;
  max-width: unset !important;
  max-height: unset !important;
}